.form {
    width: 70vh;
  }
  
  .form_input {
    align-items: center;
    justify-content: space-between;
  }
  
  .form_input label {
    font-weight: bold;
    padding-right: 2vh;
  }
  
  .form_input input[type="text"],
  select {
    width: 40vh;
    padding: 0.5vh;
    margin: 1vh 0;
    display: inline-block;
    border: 0.2vh solid #ccc;
    border-radius: 1vh;
    box-sizing: border-box;
  } 
  
  .form_input input[type="submit"] {
    width: 100%;
  }
  
  .id_atribuido {
    background: #5BC0BE;
    border-radius: 5px;
    color: #ffffff;
    font-size: 2vh;
    font-weight: bold;
    padding: 0.9vh 2vh;
  }
  