.form {
    width: 600px;
  }
  
  .form_input {
    align-items: center;
    justify-content: space-between;
  }
  
  .form_input label {
    font-weight: bold;
    padding-right: 8px;
  }
  
  .form_input input[type="text"],
  select {
    width: 400px;
    padding: 6px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form_input input[type="submit"] {
    width: 100%;
  }
  
  .id_atribuido {
    background: #3359ec;
    border-radius: 5px;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    padding: 5px 20px;
  }
  