.removido_sucesso {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    margin: 0 50px;
    border-radius: 4px;
}

.highlight {
    background: #3359ec;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    padding: 5px 20px;
}
