.main-header{
    background-color: #0B132B;
    padding: 12px 0;
    position: fixed;
    width: 100%;
    z-index: 100000;
}

/*Menu desktop*/

.menu{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu__lista{
    display: flex;
}

.menu__item{
    list-style-type: none;
    margin-right: 10px;
}

/*Menu mobile*/

.menu-mobile__lista{
    display: none;
    background-color: #3A506B;
    width: 100%;
    position: absolute;
    top: 85px;
    left: 0;
    text-align: center;
    font-size: 20px;
}

.menu-mobile__item{
    list-style-type: none;
    padding: 15px 0;
    border-bottom: 3px solid rgb(153, 151, 151);
}

.botao-mobile{
    background-color: #1C2541;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    width: calc(150px + 3%);
    display: block;
    margin: 0 auto;
}

.botao:hover,
.botao.mobile:active,
.active {
    background-color: #5BC0BE;
    transition: 0.3s;
}

.mobile-icon{
    display: none;
    background-color: white;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px;
}

.mobile-icon__line1{
    background-color: black;
    height: 8px;
    border-radius: 4px;
    position: relative;
    top: 6px;
    left: 0;
}

.mobile-icon__line2{
    background-color: black;
    height: 8px;
    border-radius: 4px;
    position: relative;
    top: 12px;
    left: 0;
}

.mobile-icon__line3{
    background-color: black;
    height: 8px;
    border-radius: 4px;
    position: relative;
    top: 18px;
    left: 0;
}

/*Logo blue*/

.logo {
    width: 200px;
}

.logo img{
    width: 100%;
    border-radius: 10px;
    border-bottom-right-radius: 0;
}

@media screen and (max-width: 992px){
    .mobile-icon{
        display: block;
    }

    .menu__lista{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .logo {
        width: 150px;
    }
}