.bg_video{
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -1000;
    background: url(images/torre.jpg) no-repeat;
    background-size: cover; 
}

.baseBase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.base {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0b132b8a;
    height: 50vh;
    width: 70rem;
}
.texto {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 4vh;
}