.imagem {
    max-width: 60vh;
    max-height: 60vh;
}

.read_one_container{
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 2vh;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: 2vh;
}
.base{
    box-sizing: content-box;
}

.read_one_container{
    flex-direction: row;
    align-items: flex-start;
}

.texto {
    flex-direction: column;
    padding-right: 3vh;
    
}
.compra {
    flex-direction: column;
    padding-left: 3vh;
    border-left: 1vh solid rgba(165, 165, 165, 0.479);
}