*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
    min-height: calc(100vh - 40px);
}

.header{
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgb(255, 255, 255);
}

.principal{
    font-family:'Arial Narrow', Arial;
    padding: 8px;
}
.principal.botoes {
    background-color: #be0000;
}

.botao {
    background-color: #f61803;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin: 0 5px;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
}

.botao:hover {
    background-color: #f55d4f;
}

.logo {
    width: 200px;
}

#titulo {
    color: black;
    font-size: 60px;
}
