<!--tira isso aqui depois!-->
{% include 'head.html' %}
</head>

<header class="main-header">
    
    
    <nav class="menu container">
    <!--menu-desktop-->
        <ul class="menu__lista">
            <li class="menu__item">
                <a href="/" class="botao {{'active' if path == '/' else ''}} ">Home</a>
            </li>
            <li class="menu__item">
                <a href="/produtos" class="botao {{'active' if path == '/produtos' else ''}} ">Produtos</a>
            </li>
            <li class="menu__item">
                <a href="/criar-produto" class="botao {{'active' if path == '/criar-produto' else ''}} ">Criar produto</a>
            </li>
        </ul>

        <!--menu-mobile-->
        <input type="checkbox" id="check-control" style="display:none;">
        <label for="check-control"  class="mobile-icon" id="mobile-icon">
            <div class="mobile-icon__line1" id="mobile-line1"></div>
            <div class="mobile-icon__line2" id="mobile-line2"></div>
            <div class="mobile-icon__line3" id="mobile-line3"></div>
        </label>

        <ul class="menu-mobile__lista" id="menu-mobile__lista">
            <li class="menu-mobile__item">
                <a href="/" class="botao-mobile {{'active' if path == '/' else ''}}" >Home</a>
            </li>
            <li class="menu-mobile__item">
                <a href="/produtos" class="botao-mobile {{'active' if path == '/produtos' else ''}} ">Produtos</a>
            </li>
            <li class="menu-mobile__item">
                <a href="/criar-produto" class="botao-mobile {{'active' if path == '/criar-produto' else ''}} ">Criar produto</a>
            </li>
        </ul>
        
        <figure class="logo">
            <a href="/"><img src="../static/img/logo-blue.gif" alt="LogoBlue"></a> <!-- Logo da blue -->
        </figure>
    </nav>

</header>
