<!--tira isso aqui depois!-->
{% include 'head.html' %}
</head>

<header class="main-header">
    
    
    <nav class="menu container">
    <!--menu-desktop-->
        <ul class="menu__lista">
            <li class="menu__item">
                <a href="/" class="botao">Home</a>
            </li>
            <li class="menu__item">
                <a href="/produtos" class="botao"> Produtos</a>
            </li>
            <li class="menu__item">
                <a href="/criar-produto" class="botao">Criar produto</a>
            </li>
        </ul>

        <!--menu-mobile-->
        <div class="mobile-icon">
            <div class="mobile-icon__line1"></div>
            <div class="mobile-icon__line2"></div>
            <div class="mobile-icon__line3"></div>
        </div>

        <ul class="menu-mobile__lista">
            <li class="menu-mobile__item">
                <a href="/" class="botao-mobile">Página Inicial</a>
            </li>
            <li class="menu-mobile__item">
                <a href="/produtos" class="botao-mobile">Listar produtos</a>
            </li>
            <li class="menu-mobile__item">
                <a href="/criar-produto" class="botao-mobile">Criar produto</a>
            </li>
        </ul>
        
        <figure class="logo">
            <a href="/"><img src="../static/img/logo-blue.gif" alt="LogoBlue"></a> <!-- Logo da blue -->
        </figure>
    </nav>

</header>
