{% include 'head.html' %}

<header class="header">
    <div class="principal">
        <img src="../static/img/logo-blue.gif" class="logo" alt="Logo da blue"> <!-- Logo da blue -->
    </div>
    <div class="principal" id="titulo">Titulo Exemplo</div><!-- Nome da loja -->
    <div class="principal botoes"> <!-- Botões -->
        <a href="/criar-produto" class="botao">Adicionar produto</a>
        <a href="/" class="botao">Página Principal</a>
        <a href="/produtos" class="botao">Ver lista de produtos</a>
    </div>
</header>
