{% include 'head.html' %}
<link rel="stylesheet" href="/static/index.css">
</head>
{% include 'header.html' %}
<body>

    <video autoplay loop poster="images/torres.jpg" class="bg_video">
        <source src="/static/img/bg.mp4" type="video/webm">
    </video>

    <div class="spacing"></div>
    <div class="spacing"></div>

    <div class="baseBase">
        <div class="base">
            <div class="texto">Preço mais barato é no AnCaDa!</div>
            <a href="/produtos" class="botao">Veja nossos produtos!</a>
        </div>
    </div>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/header.js"></script>
</body>
</html>
