{% include 'head.html' %}

<link rel="stylesheet" href="/static/read_one.css">
<link rel="stylesheet" href="/static/update.css">
</head>

<body>
    {% include 'header.html' %}
    <div class="spacing"></div>
    {% if condition_met %}

    <div class="flex_container sucesso">
        <p> Produto comprado com sucesso!</p>
    </div>

    {% endif %}
    <div class="flex_container container">

        <div class="card">
            <figure class="card__figure">
                <img src="{{produto.imagem_produto}}" alt="Imagem de {{produto.nome_produto}}">
            </figure>
            <div class="card__info">
                <div class="card__marker"></div>
                <div class="arrow-right"></div>
                <h4 class="card__product-title">{{produto.nome_produto}}</h4>
                <h5 class="card__product-price">R{{produto.preco_produto}}</h5>
                <h6 class="card__product-price"><strong>Categoria</strong>: {{produto.categoria}}</h6>
                <h6 class="card__product-quantity"><strong>{{produto.quant_produto}} unidades disponíveis</strong></h6>               
            </div>
        </div>

        <div class="container product-container">
            <div class="product-container__infos">
                <h1 class="product-container__title">Descrição do produto</h1>
                <p class="product-container__descri">
                    {{produto.descri_produto}}
                </p>
            </div>

            <div class="product-container__comands">
                <div class="product-container__pay">
                    <button class="botao warning" id="pay">Eu quero!</button>

                    <form action="/produtos/{{produto.id}}/comprar" method="POST" id="payed" class="product-container__payed">
                        <h2 class="product-container__title">Estamos quase lá...</h2>
                        <label for="quantity">Eu quero</label>
                        <input type="number" id="quantity" name="quantity" min="1" max={{produto.quant_produto}}>
                        <label for="quantity">unidades!</label>
                        
                        <button type="submit" class="botao">Comprar!</button>
                    </form>
                </div>

                <div class="product-container__admin">
                    <h4 class="product-container__warning">Opções de administrador</h4>
                    <a href="/atualizar/{{produto.id}}" class="botao">Atualizar</a>
                    <a href="/deletar/{{produto.id}}" class="botao">Deletar</a>
                </div>

            </div>
        </div>

    </div>

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/header.js"></script>
    <script src="../static/js/read-one.js"></script>

</body>
</html>
