{% include 'head.html' %}

<link rel="stylesheet" href="/static/read_all_cards.css">
</head>

{% include 'header.html' %}

<body>
    <div class="spacing"></div> <!-- Usado para espaçar o topo da página do header - Caio -->
    <div class="flex_container container card_menu">
        {% for produto in lista_produtos %}
        <a href="/produtos/{{produto.id}}">
            <div class="card">
                <figure class="card__figure">
                    <img src="{{produto.imagem_produto}}" alt="Imagem de {{nome_produto}}">
                </figure>
                <div class="card__info">
                    <div class="card__marker"></div>
                    <div class="arrow-right"></div>
                    <h4 class="card__product-title">{{produto.nome_produto}}</h4>
                    <h5 class="card__product-price">R$ 100</h5>
                    <h6 class="card__product-price"><strong>Categoria</strong>: {{produto.categoria}}</h6>
                    <h6 class="card__product-quantity"><strong>{{produto.quant_produto}} unidades disponíveis</strong></h6>               
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/header.js"></script>
</body>
